body {
    padding: 0px;
    margin: 0px;
    background: #c0c0c0;
    font-family: "ms-sans-serif";
    font-size: 13px;
}

@font-face  {
    font-family: "ms-sans-serif";
    src: url("/fonts/microsoftsansserif.ttf");
}

.warn {
    margin: 2px;
    color: #c0c0c0;
    width:100vw;
    background: RGBA(4,0, 128, 0.8);
    height: 3vh;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-top:5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 100vh;
    height: 40vw;
}

.left-spacemarine {
    position: fixed;
    right: 20vw;
    top: 50vh;
}

.logo {
    position: fixed;
    left: 3px;
    top: 10vh;
}

.warrior-num {
    width: 35px;
}

.mainBtn {
    background-color: #c0c0c0;
    transition: box-shadow 0.8s ease; /* Smooth transition for hover */
    width: 8vw;
    height: 6vh;
    margin: 30px;
}