body {
    padding: 0px;
    margin: 0px;
    background: #c0c0c0;
    font-family: "ms-sans-serif";
    font-size: 13px;
}

@font-face  {
    font-family: "ms-sans-serif";
    src: url("/fonts/microsoftsansserif.ttf");
}

.warn {
    margin: 2px;
    color: #c0c0c0;
    width:100vw;
    background: RGBA(4,0, 128, 0.8);
    height: 3vh;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-top:5vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 40vw;
}

.left-spacemarine {
    position: fixed;
    right: 20vw;
    top: 50vh;
}

.logo {
    margin: auto;
}

.warrior-num {
    width: 35px;
}

.mainBtn {
    background-color: #c0c0c0;
    transition: box-shadow 0.8s ease; /* Smooth transition for hover */
    width: 8vw;
    height: 6vh;
    margin: 30px;
}

.topDiv {
    position: absolute;
    top:0px;
    z-index: 2;
    background-color: rgba(0,0,0,80%);
    width: 100vw;
    height: 100vh;
}

.topWindow {
    border: 1px black solid;
    background-color: silver;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    flex-direction: column;
}

.topWindow textarea {
    background-color: rgba(255, 255, 255, 30%);
    height: 50vh;
    width: 40vw;
    border: 0px black dashed;
    border-radius: 10px;
    resize: none;
}
#numOfPathos {
    -webkit-appearance: none; /* Important for custom styling */
    appearance: none;
    width: 220px; /* Adjust as needed */
    height: 50px; /* Track height */
    outline: none;
    margin-top: -12px;
    background: url("scale.png");
}

/* For Chrome, Safari, Edge */
#numOfPathos::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    border-radius: 0; /* Adjust if needed */
    background-color: red;
}

/* For Firefox */
#numOfPathos::-moz-range-thumb {
    width: 3px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    border-radius: 0; /* Adjust if needed */
    border: none; /* Remove default border in Firefox */
    background-color: red;
}